@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

:root{
    --orange:#FF531E;
}

body{
    margin: 0;
}

.nav-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    max-width: 60px;
    /* background-color: red; */
    padding: 20px 20px;
    margin-left: 10px;
    height: 100%;
}

.logo{
    margin-top: 10px;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.nav-logo img{
    width: 20px;
}

.exit{
    margin-top: 260px;
}

.m-40{
    margin-top: 40px;
}

main{
    position: relative;
    margin-left: 90px;
    /* width: 60%; */
    display: flex;

}

.section-1{
    width: 70%;
    padding: 0 30px 40px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 30px 0px;
    width: 100%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.profile .profile-pic{
    /* display: flex;
    align-items: center; */
    width: 48px;
    height: 50px;
    border-radius: 50%;
}

.hello{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 20px;
}

.name{
    /* line-height: 25px; */
    font-weight: 400;
    font-size: 1.5rem;
}

.search-container{
    display: flex;
    align-items: center;
}

.search-container #search-bar{
    width: 250px;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(236, 232, 232);
}

.search-container .search-icon{
    position: relative;
    float: right;
    right: 45px;
    width: 30px;
    height:20px;

}


.notification{
    color: black;
}

.bell{
    width: 55px;
    height: 55px;
    color: black;
}

.cards{
    display: flex;
    margin: 5px 0px;
    width: 100%;
    justify-content: space-between;
}

.weather-card, .air-q-card{
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 50%;
    height: fit-content;
    padding: 20px 35px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    /* margin-left: 15px; */
}

/* .heading .sun{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: aqua;
} */

.heading img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 2px;
    top: 2px;
}


.title .head{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.title .sub-head{
    font-size: 12px;
}

.value .temp{
    font-size: 35px;
    font-weight: 500;
}

.value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    flex-wrap: wrap;
    margin: 25px 0 15px 0;
}

.value .second-temp{
    font-size: 10px;
    font-weight: 500;
    background-color: yellow;
    padding: 3px 8px 5px;
    border-radius: 8px;
    margin-top: 8px;
}

.value .title{
    margin-top: 10px;
    font-size: 14px;
}

.details{
    width: 100%;
    position: relative;
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 40px;
    /* margin: 20px 0px 0px 15px; */
    /* padding: 20px 0px; */
   
}

.box-s{
    width: fit-content;
    /* margin: 10px; */
    background-color: black;
    color: white;
    border-radius: 18px;
    padding: 20px 30px;
}

.details .title{
    font-size: 12px;
    text-align: center;
}

.details .volume{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.air-q-card{
    display: inline-block;
    /* margin-top: 10px; */
}

.air-q-card .value .second-temp{
    padding: 5px 10px;
    margin-top: 0;
    margin-right: 20px;
}

.indicator{
    width: 100%;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 45px;
}

.indicator .level{
    display: flex;
    justify-content: space-between;
}

.indicator .level .standard{
    margin-left: 18px;
}

.indicator .progress{
    height: 7px;
    margin-top: 15px;
}

.orng{
    background-color: var(--orange);
}

.section-2{
    padding: 30px 40px 61px 30px;
    width: 30%;
    background-color: whitesmoke;
}

.side-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 .side-heading .day{
    font-size: 24px;
    font-weight: 500;
}

.section-2 .side-heading .location{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 300;
}

.section-2 .side-heading .location img{
    width: 10px;
    align-self:center;
    margin-left: 10px;
    margin-top: 5px;
}

.section-2 .side-heading .temp{
    font-size: 35px;
    font-weight: 500;   
    letter-spacing: 1.8px;
    color: var(--orange);
}

hr{
    margin-top: 25px;
    /* background-color: rgb(75, 73, 73); */
    border: 0.00001px solid rgb(182, 178, 178);
    opacity: 0.8;
}

.detail{
    margin-right: 40px;
}

.detail .UVI{
    display: flex;
    align-items: center;
    width: fit-content;
}

.detail .UVI .UVI-value{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
}

.detail .UVI .level{
    font-size: 10px;
    font-weight: 400;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 9px;
    margin-left: 10px;
}

.detail .note{
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
}

.prediction{
    margin: 20px 0;
}

.prediction h1{
    font-size: 32px;
    font-weight: 500;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    background-color: black;
    color: white;
    border-radius: 18px;
}

.m-10{
    margin-top: 10px;
}

.m-20{
    margin-top: 20px;
}

.m-30{
    margin-top: 30px;
}

.day-info{
    margin-right: 35px;
}

.day-info .date{
    font-weight: 300;
}

.day-info .condition{
    margin-top: 10px;
    font-size: 19px;
    letter-spacing: 1.2px;
}

.next-days{
    padding: 18px 20px;
    display: flex;
    align-items: center;
    background-color: var(--orange);
    border: none;
    color: white;
    border-radius: 15px;
    position: relative;
    left: 210px;
    margin-top: 30px;
}

.next-days img{
    width: 18px;
    margin-right: 10px;
}

img{
    width: 45px;
}

.cloudy{
    width: 55px;
}