@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

body{
    margin: 0;
}

.nav-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    max-width: 60px;
    background-color: red;
    padding: 20px 20px;
    height: 100%;
}

.logo{
    margin-top: 10px;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.exit{
    margin-top: 100px;
}

.m-10{
    margin-top: 30px;
}

main{
    position: relative;
    margin-left: 100px;
    width: 60%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 30px 0px;
    width: 100%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.profile .profile-pic{
    /* display: flex;
    align-items: center; */
    width: 48px;
    height: 50px;
    border-radius: 50%;
}

.hello{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 20px;
}

.name{
    /* line-height: 25px; */
    font-weight: 400;
    font-size: 1.5rem;
}

.search-container{
    display: flex;
    align-items: center;
}

.search-container #search-bar{
    width: 250px;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(236, 232, 232);
}

.search-container .search-icon{
    position: relative;
    float: right;
    /* top: -62px; */
    right: 48px;
    width: 50px;
    height: 50px;

}


.notification{
    color: black;
}

.bell{
    width: 55px;
    height: 55px;
    color: black;
}

.cards{
    display: flex;
    margin: 5px 0px;
    width: 100%;
    justify-content: space-between;
}

.weather-card, .air-q-card{
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 50%;
    height: 40vh;
    padding: 20px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-left: 15px;
}

.heading .sun{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: aqua;
}

.heading .sun img{
    width: 18px;
    height: 18px;
    position: relative;
    left: 2px;
    top: 2px;
}


.title .head{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.title .sub-head{
    font-size: 12px;
}

.value .temp{
    font-size: 35px;
    font-weight: 500;
}

.value{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    flex-wrap: wrap;
    margin: 15px 0 15px 15px;
}

.value .second-temp{
    font-size: 10px;
    font-weight: 500;
    background-color: yellow;
    padding: 3px 8px 5px;
    border-radius: 8px;
    margin-top: 8px;
}

.value .title{
    margin-top: 5px;
    font-size: 13px;
}

.details{
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.box-s{
    width: 100px;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 18px;
    padding: 10px 12px;
}

.details .title{
    font-size: 12px;
    text-align: center;
}

.details .volume{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}




.air-q-card{
    display: inline-block;
    /* margin-top: 10px; */
}